<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="SQL_DEBUG_FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/sql-debug.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="AGENT_DEBUG_FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/agent-debug.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="sql-debug" level="DEBUG" additivity="false">
        <appender-ref ref="SQL_DEBUG_FILE"/>
    </logger>

    <logger name="agent-debug" level="DEBUG" additivity="false">
        <appender-ref ref="AGENT_DEBUG_FILE"/>
    </logger>
</configuration>